<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
    <!--一个sping配置文件有且只能有一个外部配置文件引入-->
    <context:property-placeholder ignore-unresolvable="true"
                                  location="classpath:jdbc.properties"/>
    <import resource="spring-mybatis.xml"/>
</beans>
